@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
Body{
    background-color: antiquewhite;
    overflow-y: hidden;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 66vh;
    background-color: black;
    color: white;
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 14px;
    padding: 1.5rem;
    background: url(bg.jpg);
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timetamp{
    margin: 0 23px;
    margin-bottom: 34px;
  
}
.timetamp i{
    cursor: pointer;
}
.songItemContainer{
    margin: 40px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
    width: 134px;

}
h5{
    font-family: 'Ubuntu',sans-serif;
    font-size: 20px;
    margin-top: 8px;
}